body {
  font-family: sans-serif;
}

#report {
  width: 75%;
  background-color: #e9e9e9;
  padding: 10px;
}

.output {
  background-color: black;
  color: green;
  font-family: monospace;
  width: 400px;
  padding: 10px;
}

#imagebox h3 {
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  width: 400px;
}

figcaption {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  text-align: center;
}
